
/* General styles */
body {
  background-color: #201f22;
  color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 28px;
  overflow: auto;
  background-image: url('../images/persona_5_wallpaper_by_photosstrator_dedbgtp-fullview.jpg'); /* Add your background image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  /* animation: moveBackground 20s linear infinite; Add the moveBackground animation */

}

@keyframes moveBackground {
  0%, 100% {
    background-position: center;
  }
  50% {
    background-position: center -30px;
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ff4081;
}

/* Container and buttons */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

button {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e6399b;
}

/* Pokémon list and listings */
.pokemon-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemon-listing {
  background-color: rgba(46, 44, 51, 0.7); /* Updated base color to #2e2c33 with opacity */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
  border-radius: 50px; /* Add rounded edges to the modal */
}

.pokemon-listing img {
  width: 180px;
  height: 180px;
  transition: transform 0.3s, filter 0.3s; /* Add smooth transitions for transform and filter */
}

.pokemon-listing img:hover {
  transform: scale(1.1); /* Add a subtle scale effect on hover */
  filter: brightness(0.8) contrast(1.2); /* Adjust brightness and contrast for a more subtle effect */
}

.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  color: #ff4081;
}

.pokemon-id {
  font-size: 1.5rem;
  color: #ccc;
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pokemon-types li {
  background-color: #ff4081;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
}

.pokemon-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url('../images/persona5background.webp'); /* Add your background image */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  background-size: 150%; /* Set the initial size to be larger than the container */
  background-color: rgba(0, 0, 0, 0.4);
  animation: moveModalBackground 10s linear infinite;
}

@keyframes moveModalBackground {
  0%, 100%{
    background-position: 0 0;
  }
  50% {
    background-position: -50px -50px;
  }
}

.pokemon-modal-content {
  background-color: rgba(46, 44, 51, 0.7); /* Updated base color to #2e2c33 with opacity */  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
  opacity: 0; /* Set initial opacity for the animation */
  transform: scale(0.5); /* Set initial scale for the animation */
  animation: zoom 0.3s forwards; /* Add the zoom animation */
  border-radius: 50px; /* Add rounded edges to the modal */
}

.pokemon-modal-content img {
  width: 70%; /* Adjust the width as desired */
  height: auto; /* Maintain the aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

@keyframes zoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.pokemon-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.pokemon-modal-close:hover,
.pokemon-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

